/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

.upper-menu-container{
    display: flex;
    align-items: center;
}

.img-logo {
    max-width: 150px;  
    height: auto;  
}

.menu-links {
    color: #1A1A1A;
    text-decoration: none;
    
}

.center-img {
    max-width: 50%;  
    height: auto;  
}

.section-one-container {
    position: relative;
    display: inline-block;
    text-align: center;
}

.section-one-text{
    color: #FFF;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-one-container > img {
    max-width: 1000px;
    height: auto;
}