/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


.img-size {
    max-width: 100px;  
    height: auto;  
}

.upper-menu {
    text-decoration: none;
    text-align: right;
}

.center-img {
    max-width: 50%;  
    height: auto;  
}